div.wrap{
    width:1000px;
    margin:0px auto;
}
div.title{
    width: 1000px;
    height: 300px;
    background-color:yellow;
    text-align: left;
    font-size: 70px;
    margin-bottom: 20px;
}
span.title1{
     width: 360px;
     height: 30px;
     background-color: yellow;;
}
div.title2{
    
}
div.menu{
    width: 1000px;
    height: 50px;
    background-color:yellow;
    margin-bottom: 20px;
}
span.menu1{
    display:inline-block;
    width:500px;
    height:50px;
    background-color: black;
    
    
}
h2{
    color: white;
    font-family: "impact;
    
}
span.menu2{
    display:inline-block;
    width:500px;
    height:50px; 
    background-color: black;
}
h3{
    text-align: center;
}
div.footer{
    width: 1000px;
    height: 40px;
    background-color:yellow;
}

body{
    
    background-image:url("../images/38.jpg");
}
